# VS Code
.vscode/
*.code-workspace
.history/
*.log

# PyCharm
.idea/
*.iml
*.iws
.ipr
.idea_modules/
*.pyc
__pycache__/

# датасеты
dataset/
dataset_brand/

# временные файлы (на всякий случай)
uploads/
temp_*.jpg

# базовая модель yolo
yolo26n.pt

# база данных
lookcheck.db

# изображения
*.jpg
*.png
*.jpeg
